streamlit
chromadb
langchain
langchain-groq==0.3.8
langchain-community==0.3.31
langchain-core==0.3.79
sentence-transformers==5.1.2
transformers==4.57.1
torch
pymupdf
pypdf
rank-bm25
matplotlib
bert-score
scikit-learn
tiktoken
PyPDF2
